<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FCC Node Request Header Parser</title>
</head>
<body>
<h1>FCC Node Project: Request Header Parser</h1>
<h2>User Stories</h2>
<p>
<ol>
    <li>I can get the IP address, preferred languages (from header <code>Accept-Language</code>) and system infos (from
        header <code>User-Agent</code>) for my device.
    </li>
</ol>
</p>

<h2>Example Usage</h2>
<p><code>&lt;base-url&gt;/api/whoami</code></p>

<h2>Example Output</h2>
<p><code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5", "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64;
    rv:50.0) Gecko/20100101 Firefox/50.0"}</code></p>

<hr>
<p>by <a href="https://varunbarad.com">Varun Barad</a></p>

<style>
    body {
        text-align: center;
        max-width: 40vw;
        margin: auto;
        font-size: 1.2rem;
        font-family: "Source Sans Pro", sans-serif;
    }
</style>
</body>
</html>
